<html>
	<h1>
		{{ .title }}
	</h1>
    <p id=p1>
        The temperature in some african city is high.
    </p>

    <label for="cities">Choose a city:</label>

    <select name="cities" id="cities" onchange="asd(this.value)">
        <option value="Salzburg">Salzburg</option>
        <option value="London">London</option>
        <option value="Budapest">Budapest</option>
    </select>
</html>

<script>
window.addEventListener("load", asd("Salzburg"));

function asd(val) {
    console.log(location.href);
    console.log("select has been used with " + val);

    const apiUrl = `${location.href}/stuff?city=${val}`;
    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error("resonse not ok");
            }
            return response.text();    
        })
        .then(data => {
            const updatedText = `The temperature in ${val} is ${data} C°.`;
            document.getElementById("p1").innerHTML = updatedText;
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
</script>