<html>
	<h1>
		{{ .title }}
	</h1>
    <p id=p1>
        The temperature in some african city is high.
    </p>

    <label for="cities">Choose a city:</label>

    <select name="cities" id="cities" onchange="displayTemperatureForCity(this.value)">
        <option value="Salzburg">Salzburg</option>
        <option value="London">London</option>
        <option value="Budapest">Budapest</option>
    </select>

    <br></br>
    <input type="search" id="city-search" name="city-search" oninput="searchCity(this.value)">
</html>

<script>
window.addEventListener("load", displayTemperatureForCity("Salzburg"));

function searchCity(city) {
    console.log(`search has been changed to ${city}`)
    const apiUrl = `${location.href}/city/search?query=${city}`;
    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error("response not ok");
            }
            return response.text();    
        })
        .then(data => {
            if(data === ""){
                console.log("it is empty");
            } else {
                const cities = JSON.parse(data).cities;
                for (const city of cities) {
                    console.log(city);
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

function displayTemperatureForCity(city) {
    const apiUrl = `${location.href}/stuff?city=${city}`;
    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error("response not ok");
            }
            return response.text();    
        })
        .then(temperature => {
            const updatedText = `The temperature in ${city} is ${temperature} C°.`;
            document.getElementById("p1").innerHTML = updatedText;
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
</script>