table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    max-width: 150px;
    text-align: center;
}

/* .city-header, table, .weather-alert {
    margin-left: 20px;
} */

.weather-alert {
    margin-bottom: 75px;
}

.weather-alert-item {
    margin-top: 0px;
    margin-bottom: 7px;
}

.city-weather {
    margin-left: 20px;

}
